* {
    border: 2px solid red;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.head {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#start {
    margin: 4px auto;
}

.buttons {
    display: flex;
    margin: 4px auto;
    align-items: center;
}

.scores {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.score-card {
    display: flex;
    flex-direction: column;
}