* {
    /* border: 2px solid red; */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.head {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    background-color: rgb(2, 2, 55);
    color:gold;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 30px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#start {
    margin: 4px auto;
}

.buttons {
    display: flex;
    margin: 20px auto;
    /* justify-content: center; */
}

#paper {
    margin-left: 10px;
}

#scissors {
    margin-left: 10px;
}
button {
    background-color: cornflowerblue;
    color: white;
    font-size: 16px;
    padding: 6px 16px;
    border: 2px solid cornflowerblue;
    border-radius: 6px;
    /* box-shadow: 4px 4px 10px 4px cornflowerblue; */
}

.scores {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.score-card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    box-shadow: 4px 4px 6px black;
    padding: 10px;
}

.text {
    font-size: 20px;
}

.score {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 4px;
    padding-top: 2px;
    border-top: 2px solid black;
}